.Title_draw{
    text-align: center;
}
.Genres{
    color: #000000;
    font-size: 23px;
}
.Genre{
    background-color: #52afaf;
    text-align: center;
}
.Genre_title{
    background-color: #0f7070;
}